{% extends "layout.html" %}
	{% block body %}
		<h1>Status</h1>
			{% if not torrents %}
				<p>No torrents in queue</p>
			{% else %}
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Size</th>
							<th>Added</th>
							<th>Last Update</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
					{% for torrent in torrents %}
						<tr>
							<td>{{torrent.id}}</td>
							<td>{% if torrent.name %}{{ torrent.name }}{% else %}Unbekannt{% endif %}</td>
							<td>{% if torrent.size %}{{ torrent.size }}{% else %}Dunno.{% endif %}</td>
							<td>{{torrent.added_time}}</td>
							<td>{% if torrent.last_update %}{{torrent.last_update}}{% else %}Noch nie{%endif%}</td>
							<td>{{ torrent.status }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
		  {% endif %}
	{% endblock %}